<div class="hero-image">
  <div class="hero-text">
    <h1>Luis Fernando Flores Oviedo</h1>
    <p>web programer</p>
    <button id="myBtn">Contacto</button>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <%= image_tag "g14.png", class: "modal-content", id: "img01" %>
</div>